# Python Course - Chapter 2 : Functions and Iteration

## Practice Exercises

### Exercise 1 - Optional parameters
In geometry, we can calculate the euclidian norm of a vector $\vec{v}$ of coordinates
$\begin{bmatrix}
    x \\
    y
\end{bmatrix}$ using the formula : $||\vec{v}|| = (x^2 + y^2)^{1/2}$.

**1)** Write a function `norm(x, y)`that takes in parameters two coordinates `x` and `y` and returns the euclidian norm of the associated vector.<br>
<br>
In fact, there are other ways to define a norm. For any integer $k \geq 1$, we can define the k-norm by :
$$||\vec{v}||_k = (x^k + y^k)^{1/k}.$$

**2)** Adapt the function from the previous question to define a function `norm(x, y, k)` that returns the k-norm of the vector of coordinates `x` and `y`.<br>
<br>
The issue with this new function is that we usually don't bother indicating the parameter `k` and simply write `norm(x, y)` when asking for the euclidian norm.<br>
<br>
**3)** Try replacing `norm(x, y, k)` by `norm(x, y, k = 2)` in the definition of the function. What happens now when calculating `norm(x,y)` without precising the value of `k` ?

### Exercise 2 - Leap years
A leap year is a year that is a multiple of 4, except for years dividible by 100 but not by 400.<br>
Write a program that asks the user to enter a year number then prints "{year} is a leap year !" if the year entered is a leap year or prints "{year} is not a leap year..." if the year enterd is not one.

### Exercise 3 - Rectangle triangles
Write a function that takes in parameter three integers `a`, `b` and `c` and returns True if the triangle of sides a, b and c is rectangle, and False otherwise.

### Exercise 4 - Solutions of a quadratic equation
Write a function that takes in parameter three floats `a`, `b` and `c` and returns the amount of real solutions to the quadratic equation $ax^2 + bx + c = 0$.

### Exercise 5 - Factorial function
The factorial of a natural number $n$, written $n!$, is defined by $0! = 1$ and $n! = 1 \times 2 \times \dots \times n$ for every natural number $n \geq 1$.
Write a function `factorial(n)` that takes a naturel number `n` as parameter and returns the factorial of n.

### Lesson - Operations with string objects

Just like with integer, we can use operations with `string` objects. However, there are only two operations available with string objects : **concatenation** (with the symbol **+**) and **replication** (with the symbol **\***).<br>
Here are a few examples to understand how these operations work :

In [ ]:
'a' + 'b'

In [ ]:
'Happy ' + 'Chandara ' + 'School'

In [ ]:
'a' * 6

In [ ]:
'a' + 'b' * 3

In [ ]:
('a' + 'b') * 3

In [ ]:
'happy ' * 3 + '!'

`string` objects can also be used to define a for loop. Instead of browsing a range of number with `range(x,y)`, we can browse a `string` object : the iterator will then take the value of every character in the string one by one.<br>
Here are two examples :

In [ ]:
for c in 'Hello, World!':
    print(c)

In [ ]:
for c in 'Hello, World!':
    print(c, '*', sep='', end='')

In this last example, we used the optional parameters `sep` and `end` from the function `print()`. Try to guess what they are used for and experiment by changing their values !<br>
<br>
Finally, the length of a `string` object can be obtained using the function `len` :

In [2]:
len('hello')

5

In [3]:
len('')

0

In [4]:
len('Happy Chandara School')

21

### Exercise 6 - Finding a character in a string
Write a function `seek(c,s)` that takes in parameter a string `c` of length 1 (a character) and another string `s` then returns True if the character
c is present in the string s, and False otherwise.

### Exercise 7 - Drawing with Python

**1)** Write a function `triangle1(n)` that prints a rectangle triangle over n lines in the shell wwith stars and spaces in between two stars.<br>
For instance, `triangle1(5)` should print the following figure :

```
*
* *
* * *
* * * *
* * * * *
```

**2)** Write a function `triangle2(n)` that prints the same triangle upside down.<br>
<br>
**3)** Write a function `pyramid(n)` that prints a pyramid over n lines in the shell.<br>
For instance, `pyramid(5)` should print the following figure :

```
    *
   * *
  * * *
 * * * *
* * * * *
```

### Exercise 8 - Fibonacci sequence
The Fibonacci sequence is a sequence of integers defined by
$$F_0 = 0, \space \space \space  F_1 = 1 \space \space \space \text{and} \space \space \space \forall n \in \mathbb{N}, F_{n+2} = F_{n+1} + F_n.$$

**1)** Write a function `fibo(n)` that takes in parameter a natural number `n` and returns the value of $F_n$.<br>
<br>
**2)** Determiner the index of the first number in the Fibonacci sequence that has 4 242 digits or more.

### Exercise 9 - Prime numbers
A prime number is a natural number that only has two divisors : 1 and itself. For instance, 2, 5, 17 and 241 are prime numbers.<br>
To determine if a number is a prime number or not, we can use the following criteria :<br>
$p$ is prime if and only if $p \geq 2$ and $p$ is not dividible by any integer $k \geq 2$ such that $k^2 \leq p$.<br>
<br>
**1)** Write a function `is_prime(p)` that takes a natural number `p` as parameter and returns `True` if p is prime and `False` if not.<br>
<br>
**2)** Using this function, write a program that prints the 1 000 first prime numbers.<br>
<br>
**3)** The mathematician Golbach conjectured that any even integer greater than 3 can be written as the sum of two prime numbers. Verify that this conjecture is true for all even integers inferior to 1 000.

### Exercise 10 - Amicable numbers (Project Euler #21)

**1)** Write a function `divsum(n)` that takes in parameter a natural number `n` and returns the sum of all the divisors of n (except n itself).<br>
<br>
For a natural number $n$, we will note $\sigma(n)$ the sum of the divisors of $n$ (expect itself). We say that two natural numbers $a \neq b$ are **amicable** if and only if $\sigma(a) = b$ and $\sigma(b) = a$.<br>
For instance, 220 and 284 are amicable numbers (verify this using your `divsum` function).<br>
<br>
**2)** Write a function `amicable(n)` that takes in parameter a naturel number `n` and returns True if the number n is amicable or False otherwise.<br>
<br>
**3)** Evaluate the sum of all amicable numbers that are inferior or equal to 10 000.

### Exercise 11 - Collatz's sequence &#9733;
A Collatz's sequence is defined as follows :

$$u_0 = N \in \mathbb{N}^* \space \space \text{ and } \space \space \forall n \in \mathbb{N}, u_{n+1} = 
    \begin{cases} 
      3u_n + 1 & \text{if } u_n \text{ is odd}\\
      u_n^{} \space / \space 2^{} & \text{if } u_n \text{ is even}
   \end{cases}.$$

**1)** Write a function that takes an integer as parameter and returns the next term in the Collatz's sequence.<br>
<br>
Notice that when a sequence reaches 1, it loops endlessly : 1 &#8594; 4 &#8594; 2 &#8594; 1 &#8594; 4 &#8594; 2 &#8594; 1 &#8594; ...<br>
It is conjectured by Collatz that no matter the starting point, the sequence will always reach 1. He defined the length of the Collatz's sequence of a starting number as the amount of iteration needed to reach 1.<br>
<br>
For instance, the sequence of starting point 13 is of length 9 since there is 9 steps before reaching 1 :<br>
13 &#8594; 40 &#8594; 20 &#8594; 10 &#8594; 5 &#8594; 16 &#8594; 8 &#8594; 4 &#8594; 2 &#8594; 1.<br>
<br>
**2)** Write a function that takes an integer as parameter and returns the length of the Collatz's sequence starting from this integer.<br>
<br>
**3)** Determine the longest Collatz's sequence starting with an integer inferior or equal to 1 000 000.<br>
<br>

### Exercise 12 - Conway's look-and-say sequence &#9733;
Conway's look-and-say sequence is a sequence obtained by starting from the number 1 and describing out loud the different digits.<br>
The first values are : 1 &#8594; 11 &#8594; 21 &#8594; 1211 &#8594; 111221 &#8594; 312211 &#8594; 13112221 &#8594; 1113213211 &#8594; ...<br>
For instance, when describing **1211** out loud, we say **"one 1, one 2, two 1"** which gives **111221** for the next term.<br>
<br>
**1)** Write a function `lookandsay(s)` which takes in parameter a string `s` containing a number and returns the next term in the look-and-say sequence as a string.<br>
<br>
**2)** Using this function, print the first 30 terms of the look-and-say sequence. <br>
<br>
It was proven that if we denote by $u_n$ the length of the n-th term in the look-and-say sequence, the ratio $u_{n+1} \space / \space u_n$ converges towards a constant number called **Conway's constant**.<br>
<br>
**3)** Try calculating an approximation of the Conway's constant. Try using different starting point for the sequence : does the value of the constant seem to change ?