# Python Course - Chapter 2 : Functions and Iteration

## Practice Exercises - Correction

### Exercise 1 - Optional parameters
In geometry, we can calculate the euclidian norm of a vector $\vec{v}$ of coordinates
$\begin{bmatrix}
    x \\
    y
\end{bmatrix}$ using the formula : $||\vec{v}|| = (x^2 + y^2)^{1/2}$.

**1)** Write a function `norm(x, y)`that takes in parameters two coordinates `x` and `y` and returns the euclidian norm of the associated vector.<br>
<br>
In fact, there are other ways to define a norm. For any integer $k \geq 1$, we can define the k-norm by :
$$||\vec{v}||_k = (x^k + y^k)^{1/k}.$$

**2)** Adapt the function from the previous question to define a function `norm(x, y, k)` that returns the k-norm of the vector of coordinates `x` and `y`.<br>
<br>
The issue with this new function is that we usually don't bother indicating the parameter `k` and simply write `norm(x, y)` when asking for the euclidian norm.<br>
<br>
**3)** Try replacing `norm(x, y, k)` by `norm(x, y, k = 2)` in the definition of the function. What happens now when calculating `norm(x,y)` without precising the value of `k` ?

In [ ]:
# Solution

# 1)
def norm1(x, y):
    '''
    Parameters : floats x, y
    Result : euclidian norm of the vector of coordinates (x, y)
    '''
    return (x**2 + y**2)**(1/2)

# 2)
def norm2(x, y, k):
    '''
    Parameters : floats x, y ; int k > 0
    Result : k-norm of the vector of coordinates (x, y)
    '''
    return (x**k + y**k)**(1/k)

# 3)
def norm3(x, y, k=2):
    '''
    Parameters : floats x, y ; int k > 0 (default k=2)
    Result : k-norm of the vector of coordinates (x, y) (default euclidian norm)
    '''
    return (x**k + y**k)**(1/k)

# Test

print(norm3(2, 2, 3))
print(norm3(2, 2))

### Exercise 2 - Leap years
A leap year is a year that is a multiple of 4, except for years dividible by 100 but not by 400.<br>
Write a program that asks the user to enter a year number then prints "{year} is a leap year !" if the year entered is a leap year or prints "{year} is not a leap year..." if the year enterd is not one.

In [ ]:
# Solution

year = int(input("Choose a year : "))
if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
    print(year, "is a leap year !")
else:
    print(year, "is not a leap year...")

### Exercise 3 - Rectangle triangles
Write a function that takes in parameter three integers `a`, `b` and `c` and returns True if the triangle of sides a, b and c is rectangle, and False otherwise.

In [ ]:
# Solution

def is_rectangle(a, b, c):
    '''
    Parameters : ints a, b, c
    Result : True if the triangle of lengths a,b,c is rectangle, False otherwise
    '''
    return a**2 + b**2 == c**2 or a**2 + c**2 == b**2 or b**2 + c**2 == a**2

# Test

print(is_rectangle(3,6,7))
print(is_rectangle(3,4,5))

### Exercise 4 - Solutions of a quadratic equation
Write a function that takes in parameter three floats `a`, `b` and `c` and returns the amount of real solutions to the quadratic equation $ax^2 + bx + c = 0$.

In [ ]:
# Solution

def nb_solutions(a,b,c):
    '''
    Parameters : floats a, b, c
    Result : amount of real solutions to the quadratic equation ax^2 + bx + c = 0
    '''
    delta = b**2 - 4*a*c
    if delta > 0:
        return 2
    elif delta == 0:
        return 1
    else:
        return 0

# Test

print(nb_solutions(1.,0.,1.)) # x^2 + 1 = 0 --> 0 real solutions
print(nb_solutions(1.,-2.,1.)) # x^2 - 2x + 1 = 0 --> 1 real solution (1)
print(nb_solutions(1.,0.,-4.)) # x^2 - 4 = 0 --> 2 real solutions (-2 and 2)

### Exercise 5 - Factorial function
The factorial of a natural number $n$, written $n!$, is defined by $0! = 1$ and $n! = 1 \times 2 \times \dots \times n$ for every natural number $n \geq 1$.
Write a function `factorial(n)` that takes a naturel number `n` as parameter and returns the factorial of n.

In [ ]:
# Solution

def factorial(n):
    '''
    Parameter : int n
    Result : factorial of n
    '''
    res = 1
    for k in range(2, n+1):
        res = res * k
    return res

# Test

for n in range(10):
    print(n,'! = ',factorial(n), sep='')

### Lesson - Operations with string objects

Just like with integer, we can use operations with `string` objects. However, there are only two operations available with string objects : **concatenation** (with the symbol **+**) and **replication** (with the symbol **\***).<br>
Here are a few examples to understand how these operations work :

In [ ]:
'a' + 'b'

In [ ]:
'Happy ' + 'Chandara ' + 'School'

In [ ]:
'a' * 6

In [ ]:
'a' + 'b' * 3

In [ ]:
('a' + 'b') * 3

In [ ]:
'happy ' * 3 + '!'

`string` objects can also be used to define a for loop. Instead of browsing a range of number with `range(x,y)`, we can browse a `string` object : the iterator will then take the value of every character in the string one by one.<br>
Here are two examples :

In [ ]:
for c in 'Hello, World!':
    print(c)

In [ ]:
for c in 'Hello, World!':
    print(c, '*', sep='', end='')

In this last example, we used the optional parameters `sep` and `end` from the function `print()`. Try to guess what they are used for and experiment by changing their values !<br>
<br>
Finally, the length of a `string` object can be obtained using the function `len` :

In [10]:
len('hello')

5

In [11]:
len('')

0

In [12]:
len('Happy Chandara School')

21

### Exercise 6 - Finding a character in a string
Write a function `seek(c,s)` that takes in parameter a string `c` of length 1 (a character) and another string `s` then returns True if the character
c is present in the string s, and False otherwise.

In [ ]:
# Solution

def seek(c,s):
    for x in s:
        if x == c:
            return True
    return False

# Test

print(seek('a', 'Happy Chandara School'))
print(seek('z', 'Happy Chandara School'))

### Exercise 7 - Drawing with Python

**1)** Write a function `triangle1(n)` that prints a rectangle triangle over n lines in the shell wwith stars and spaces in between two stars.<br>
For instance, `triangle1(5)` should print the following figure :

```
*
* *
* * *
* * * *
* * * * *
```

**2)** Write a function `triangle2(n)` that prints the same triangle upside down.<br>
<br>
**3)** Write a function `pyramid(n)` that prints a pyramid over n lines in the shell.<br>
For instance, `pyramid(5)` should print the following figure :

```
    *
   * *
  * * *
 * * * *
* * * * *
```

In [ ]:
# Solution

# 1)
def triangle1(n):
    '''
    Prints a triangle on n lines with * characters
    '''
    for k in range(1, n+1):
        print('* ' * k)

# 2)
def triangle2(n):
    '''
    Prints an upside-down triangle on n lines with * characters
    '''
    for k in range(1, n+1):
        print('* ' * (n-k+1))

# 3)
def pyramid(n):
    '''
    Prints a pyramid on n lines with * characters
    '''
    for k in range(1, n+1):
        print(' ' * (n-k) + '* ' * k)

# Test

print("Question 1 :\n")
triangle1(5)

print("\n\nQuestion 2 :\n")
triangle2(5)

print("\n\nQuestion 3 :\n")
pyramid(5)

### Exercise 8 - Fibonacci sequence
The Fibonacci sequence is a sequence of integers defined by
$$F_0 = 0, \space \space \space  F_1 = 1 \space \space \space \text{and} \space \space \space \forall n \in \mathbb{N}, F_{n+2} = F_{n+1} + F_n.$$

**1)** Write a function `fibo(n)` that takes in parameter a natural number `n` and returns the value of $F_n$.<br>
<br>
**2)** Determiner the index of the first number in the Fibonacci sequence that has 4 242 digits or more.

In [7]:
# Solution

# 1)
def fibo(n):
    '''
    Parameter : int n
    Result : value of the n-th number of the Fibonacci sequence
    '''
    if n == 0:
        return 0
    if n == 1:
        return 1
    a, b = 0, 1
    for k in range(2, n+1):
        a, b = b, a+b
    return b

# 2)
n = 1
a, b = 0, 1
while b < 10**4242:
    n += 1
    a, b = b, a+b
print(n)

20300

### Exercise 9 - Prime numbers
A prime number is a natural number that has exactly two positive divisors : 1 and itself. For instance, 2, 5, 17 and 241 are prime numbers.<br>
To determine if a number is a prime number or not, we can use the following criteria :<br>
$p$ is prime if and only if $p \geq 2$ and $p$ is not dividible by any integer $k \geq 2$ such that $k^2 \leq p$.<br>
<br>
**1)** Write a function `is_prime(p)` that takes a natural number `p` as parameter and returns `True` if p is prime and `False` if not.<br>
<br>
**2)** Using this function, write a program that prints the 1 000 first prime numbers.<br>
<br>
**3)** The mathematician Golbach conjectured that any even integer greater than 3 can be written as the sum of two prime numbers. Verify that this conjecture is true for all even integers inferior to 1 000.

In [ ]:
# Solution

# 1)
def is_prime(p):
    '''
    Parameter : int p
    Result : True if p is prime, False otherwise
    '''
    if p < 2:
        return False
    k = 2
    while k**2 <= p:
        if p % k == 0:
            return False
        k += 1
    return True

# 2)
print("Question 2 :\n")

prime_count = 0
p = 2
while prime_count < 1000:
    if is_prime(p):
        print(p, end='; ')
        prime_count += 1
    p += 1

# 3)
print("\n\n\nQuestion 3 :\n")

for N in range(2,1001,2):
    for p in range(2, N-1):
        if is_prime(p) and is_prime(N-p):
            print(N, '=', p, '+', N-p)
            break # If we know there is one way to write N as two primes, we don't seek for other ways to write the sum

### Exercise 10 - Amicable numbers (Project Euler #21)

**1)** Write a function `divsum(n)` that takes in parameter a natural number `n` and returns the sum of all the divisors of n (except n itself).<br>
<br>
For a natural number $n$, we will note $\sigma(n)$ the sum of the divisors of $n$ (expect itself). We say that two natural numbers $a \neq b$ are **amicable** if and only if $\sigma(a) = b$ and $\sigma(b) = a$.<br>
For instance, 220 and 284 are amicable numbers (verify this using your `divsum` function).<br>
<br>
**2)** Write a function `amicable(n)` that takes in parameter a naturel number `n` and returns True if the number n is amicable or False otherwise.<br>
<br>
**3)** Evaluate the sum of all amicable numbers that are inferior or equal to 10 000.

In [ ]:
# Solution

# 1)
def divsum(n):
    '''
    Parameter : int n
    Result : sum of the proper divisors of n
    '''
    res = 0
    for d in range(1,n):
        if n % d == 0:
            res += d
    return res

# 2)
print("Question 2 :\n")

def amicable(n):
    '''
    Parameter : int n
    Result : True if n is amicable, False otherwise
    '''
    sigma = divsum(n)
    if sigma == n:
        return False
    return divsum(sigma) == n

print(amicable(220))

# 3)
print("\n\nQuestion 3 :\n")

res = 0
for n in range(1, 10001):
    if amicable(n):
        res += n
print(res)

### Exercise 11 - Collatz's sequence &#9733;
A Collatz's sequence is defined as follows :

$$u_0 = N \in \mathbb{N}^* \space \space \text{ and } \space \space \forall n \in \mathbb{N}, u_{n+1} = 
    \begin{cases} 
      3u_n + 1 & \text{if } u_n \text{ is odd}\\
      u_n^{} \space / \space 2^{} & \text{if } u_n \text{ is even}
   \end{cases}.$$

**1)** Write a function that takes an integer as parameter and returns the next term in the Collatz's sequence.<br>
<br>
Notice that when a sequence reaches 1, it loops endlessly : 1 &#8594; 4 &#8594; 2 &#8594; 1 &#8594; 4 &#8594; 2 &#8594; 1 &#8594; ...<br>
It is conjectured by Collatz that no matter the starting point, the sequence will always reach 1. He defined the length of the Collatz's sequence of a starting number as the amount of iteration needed to reach 1.<br>
<br>
For instance, the sequence of starting point 13 is of length 9 since there is 9 steps before reaching 1 :<br>
13 &#8594; 40 &#8594; 20 &#8594; 10 &#8594; 5 &#8594; 16 &#8594; 8 &#8594; 4 &#8594; 2 &#8594; 1.<br>
<br>
**2)** Write a function that takes an integer as parameter and returns the length of the Collatz's sequence starting from this integer.<br>
<br>
**3)** Determine the longest Collatz's sequence starting with an integer inferior or equal to 1 000 000.<br>
<br>

In [9]:
# Solution

# 1)
def collatz(n):
    '''
    Parameter : int n
    Result : next term in the Collatz's sequence
    '''
    if n % 2 == 1:
        return 3*n + 1
    else:
        return n // 2

# 2)
def collatz_length(n):
    '''
    Parameter : int n
    Result : length of the Collatz's sequence starting from n
    '''
    length = 0
    while n != 1:
        n = collatz(n)
        length += 1
    return length

# 3)
n_max = 0
max_length = 0
for n in range(1, 1000001, 2):
    length = collatz_length(n)
    if length > max_length:
        max_length = length
        n_max = n



print("The longest Collatz's is the one starting from", n_max, "of length", max_length, "(starting point <= 1 000 000)")

The longest Collatz's is the one starting from 837799 of length 524 (starting point <= 1 000 000)

### Exercise 12 - Conway's look-and-say sequence &#9733;
Conway's look-and-say sequence is a sequence obtained by starting from the number 1 and describing out loud the different digits.<br>
The first values are : 1 &#8594; 11 &#8594; 21 &#8594; 1211 &#8594; 111221 &#8594; 312211 &#8594; 13112221 &#8594; 1113213211 &#8594; ...<br>
For instance, when describing **1211** out loud, we say **"one 1, one 2, two 1"** which gives **111221** for the next term.<br>
<br>
**1)** Write a function `lookandsay(s)` which takes in parameter a string `s` containing a number and returns the next term in the look-and-say sequence as a string.<br>
<br>
**2)** Using this function, print the first 20 terms of the look-and-say sequence. <br>
<br>
It was proven that if we denote by $u_n$ the length of the n-th term in the look-and-say sequence, the ratio $u_{n+1} \space / \space u_n$ converges towards a constant number called **Conway's constant**.<br>
<br>
**3)** Try calculating an approximation of the Conway's constant. Try using different starting point for the sequence : does the value of the constant seem to change ?

In [50]:
# Solution

# 1)
def lookandsay(s):
    '''
    Parameter : string s
    Result : next term in the look-and-say sequence after s
    '''
    current_digit = ''
    count = 0
    res = ''
    for c in s:
        if c == current_digit:
            count += 1
        else:
            if count > 0:
                res = res + str(count) + current_digit
            current_digit = c
            count = 1
    res = res + str(count) + current_digit
    return res

# 2)
print("Question 2 :\n")

s = '1'
print(s, ';')
for _ in range(19):
    s = lookandsay(s)
    print(s, ';')

# 3)
print("\n\nQuestion 3 :\n")

s1 = '1' # Changing this starting point doesn't affect the value on the Conway's constant
s2 = lookandsay(s1)
N = 50
for _ in range(N):
    s1, s2 = s2, lookandsay(s2)
print(len(s2) / len(s1))

Question 2 :

1 ;
11 ;
21 ;
1211 ;
111221 ;
312211 ;
13112221 ;
1113213211 ;
31131211131221 ;
13211311123113112211 ;
11131221133112132113212221 ;
3113112221232112111312211312113211 ;
1321132132111213122112311311222113111221131221 ;
11131221131211131231121113112221121321132132211331222113112211 ;
311311222113111231131112132112311321322112111312211312111322212311322113212221 ;
132113213221133112132113311211131221121321131211132221123113112221131112311332111213211322211312113211 ;
11131221131211132221232112111312212321123113112221121113122113111231133221121321132132211331121321231231121113122113322113111221131221 ;
31131122211311123113321112131221123113112211121312211213211321322112311311222113311213212322211211131221131211132221232112111312111213111213211231131122212322211331222113112211 ;
1321132132211331121321231231121113112221121321132122311211131122211211131221131211132221121321132132212321121113121112133221123113112221131112311332111213122112311311123112111331121113122112132113213211121332212311322113212221 ;
11131221131211132221232112111312111213111213211231132132211211131221131211221321123113213221123113112221131112311332211211131221131211132211121312211231131112311211232221121321132132211331121321231231121113112221121321133112132112312321123113112221121113122113121113123112112322111213211322211312113211 ;


Question 3 :

1.3037298502882633