# Python Course - Chapter 3 : Lists

## 1) Focus on string objects

In Chapter 1, we introduced the `string` type and in Chapter 2, we discovered some operations that could be performed on `string` objects. In this chapter, we will learn even more operations with these objects.<br>
<br>
Another way to see `string` objects is to consider that they are a list of individual characters. The length of this list can be accessed throught the function `len`.<br>
It is possible to access individual characters of a string `s` at an index `i` using the method `s[i]`. Be careful, the numbering of indexes starts at 0 ! For instance, his means the second character of `s` is the character of index 1, and can be accessed using `s[1]` (and not `s[2]` !).

### Exercise 1
Try to guess the result of each of the following programs.

In [8]:
s = "Hello, world!"
s[4]

'o'

In [9]:
"H@ppy Chandar@ School"[13]

'@'

In [10]:
s = 'abc' * 1000
s[289]

'b'

In [23]:
s = 'Hello, world!'
s[-1]

'!'

In [29]:
s = 'Happy Chandara School'
s[0] + s[6] + s[15]

'HCS'

More than simply accessing single characters of a string, we can actually access any sub-string of a string using **slicing**. When slicing a string `s`, the syntax is as follows :

```python
s[start:stop]
```

You may notice that the syntax is very similar to the syntax for the `range` function, only with colons ':' instead of commas ',' to separate parameters. The role of each parameter is similar : `start` defines the index of the first character to include in the slicing and `stop` defines the index of the first character that is not included in the slicing.<br>
Actually, we can add a third optional variable `step` that has the same role as in the `range` function.<br>
<br>
In fact, we can even skip indicating the `start` or the `stop` variables to start from the beginning or go until the end of the string.

### Exercise 2
Try to guess the result of each of the following programs.

In [12]:
s = 'Hello, world!'
s[7:12]

'world'

In [18]:
s = 'Happy Chandara School'
s[2:11:2]

'pyCad'

In [21]:
s = 'Happy Chandara School'
s[15:]

'School'

In [15]:
s = 'I like caterpillars'
s[:10]

'I like cat'

In [89]:
s = 'IMt! Am6aXk!eIs6 Pm4oRrYeO !sUe9nTsle! qn!oew!'
s[::2]

'It makes more sense now'

In [44]:
s = 'flow'
s[::-1]

'wolf'

In [45]:
s = 'Example'
s[2:-2]

'amp'

## 2) Creating lists

A **list** is a linear data structure : it is a collection of objects that are enclosed by square brackets and separated by commas. For instance,
```python
l = [1, 'a', True, 75.3, 'bc', -5]
```
is a list containing 6 elements. As you can see, a list can contain different types of elements. They can even contain other lists (since lists are an object just like any other one !).<br>
A list can also be empty ! Here is the empty list : `[]`<br>
<br>
The same operations that work on `string` objects can be used for list : concatenation of two list via + and replication via \*.<br>
<br>
We can access individual elements using the same syntax as for `string` object : `l[i]` corresponds to the element of index `i` in the list `l`.<br>
Similarly to the `string` objects, we can know the length of a list using the function `len`.<br>
<br>
The main advantage of `list` objects compared to `string` objects is that we can modify the value of the elements at each index `i` using the syntax :
```python
l[i] = new_value
```

### Exercise 3
Try to guess the result of each of the following programs.

In [32]:
l = [1,2,3,4]
l[2]

3

In [33]:
l = [1,2,3,4]
l[4]

IndexError: list index out of range

In [34]:
a = [[0,1], [2,4], [5,7]]
a[1][1]

4

In [35]:
a = [[0,1], [2,4], [5,7]]
len(a)

3

In [36]:
b = [0,1]
b[0] = 2
b

[2, 1]

In [37]:
c = [0,1,2,3,4,5,6,7,8,9]
for k in range(1,10,2):
    c[k] = c[k-1]
c

[0, 0, 2, 2, 4, 4, 6, 6, 8, 8]

Just like for `string` objects, we can use **slicing** with lists to create sub-lists. The syntax to slice a list `l` is exactely the same :
```python
l[start:stop:step=1]
```
We can skip parameters as for `string` slicing if needed.<br>
<br>
One notable thing from list slicing is that it creates a completely new list, and not a pointer that refers to the same object in memory. Let's use the next exercise to explain what this means.

### Exercise 4
Try to understand what happens in the following examples.

In [46]:
a = [0,1]
b = a
a[0] = 2
b[0]

2

In [47]:
a = [0,1]
b = a[::]
a[0] = 2
b[0]

0

In [48]:
a = [0,1]
b = a.copy()
a[0] = 2
b[0]

0

Slicing can even be used to modify multiple elements at a time, using the syntax 
```python
l[i:j] = t
```
replaces all elements of indexes `i` to `j-1` with the elements of the sequence `t` (which can be another list, a tuple, a range, a string, ...).<br>
Note that these sequences (tuple, range, string) can be converted to a list by using the function `list`.<br>
<br>
Here are some examples :

In [81]:
l = list(range(10))
l[2:5] = l[7:10] # with a list
l

[0, 1, 7, 8, 9, 5, 6, 7, 8, 9]

In [82]:
l = list(range(10))
l[2:5] = (True, False, True) # with a tuple
l

[0, 1, True, False, True, 5, 6, 7, 8, 9]

In [83]:
l = list(range(10))
l[2:5] = range(3) # with a range
l

[0, 1, 0, 1, 2, 5, 6, 7, 8, 9]

In [84]:
l = list(range(10))
l[2:5] = 'abc' # with a string
l

[0, 1, 'a', 'b', 'c', 5, 6, 7, 8, 9]

## 3) Methods with lists

Some function have to be placed at the end of the name of the variable and modify the value of the variable without creating a new one : such functions are called **methods**. We'll see some of them that can be applied to lists.<br>
<br>
One of the most used methods with lists is the `append` method : it adds an element at the end of a list using the syntax :
```python
l.append(element)
```
If we want to add an element somewhere else than at the very end of a list, we can instead use the method `insert` to add an element at a specific index in a list :
```python
l.insert(index, element)
```

### Exercise 5
Try to guess the result of each of the following programs.

In [49]:
a = ['a', 'b', 'c', 'd']
a.append('x')

In [50]:
a = ['a', 'b', 'c', 'd']
a.append('x')
a

['a', 'b', 'c', 'd', 'x']

In [51]:
a = ['a', 'b', 'c', 'd']
a.insert('x')
a

TypeError: insert expected 2 arguments, got 1

In [61]:
a = ['a', 'b', 'c', 'd']
a.insert(2,'x')
a

['a', 'b', 'x', 'c', 'd']

In [67]:
a = ['a', 'b', 'c', 'd']
a.insert(1,'x')
a.insert(3,'x')
a

['a', 'x', 'b', 'x', 'c', 'd']

In [69]:
b = [0, 1, 2, 3, 4, 5]
b.insert(727, 'test')
b

[0, 1, 2, 3, 4, 5, 'test']

In [17]:
l = []
l.append(3)
l.append(7)
l.append(12)
l

[3, 7, 12]

On top of adding elements to a list, we can also delete some elements from one.<br>
To delete the element of index `i` in a list, we can use the `pop` method : `l.pop(i)`. Note that this method actually returns the element that was deleted as a result, meaning it is possible to store it in a variable if needed ! By default, `l.pop()` deletes the element at the end of the list.<br>
<br>
To delete the first apparition of the value `x` in a list, we can instead use the `remove` method : `l.remove(x)`. This method however just has an effect and doesn't return any value. If the value `x` isn't found in the list, this method returns an error.

### Exercise 6
Try to guess the result of each of the following programs.

In [3]:
l = [1,2,3]
l.pop(1)
l

[1, 3]

In [4]:
l = [1,2,3]
l.pop(1)

2

In [8]:
l = [1,2,3]
l.remove(1)
l

[2, 3]

In [12]:
l = [1,2,1,3,1,1]
l.remove(1)
l

[2, 1, 3, 1, 1]

In [6]:
l = [1,2,3]
l.pop()
l

[1, 2]

There exists a lot of other methods concerning lists but we'll only present two more that can be useful.<br>
<br>
The method `reverse` reverts a list, returning the list obtaining by reading the original list from right to left. The syntax is `l.reverse()`. Note that this method modifies the list and doesn't create a new one, just like any other method.<br>
<br>
Finally, the method `sort` can be applied to a list of numbers to order it in ascending ordrer. The syntax is `l.sort()`. If you wish to create a new sorted list instead of modifying the original list, you can use the function `sorted` instead : `sorted(l)`.

### Exercise 7
Try to guess the result of each of the following programs.

In [14]:
a = [1,2,3,4,5]
a.reverse()
a

[5, 4, 3, 2, 1]

In [11]:
a = [1,2,3,4,5]
a[1] = 8
a.reverse()
a[0] = 6
a

[6, 4, 3, 8, 1]

In [13]:
a = [1,2,3,4,5]
a[::2] = 'bco'
a.reverse()
a[1:4] = 'var'
a.reverse()
a

['b', 'r', 'a', 'v', 'o']

In [15]:
b = [6,1,4,-7,3,42]
b.sort()
b

[-7, 1, 3, 4, 6, 42]

In [16]:
b = [6,1,4,-7,3,42]
sorted(b)

[-7, 1, 3, 4, 6, 42]

## 4) Browsing a list

Just like strings and ranges, lists can be browsed during a `for` loop ! The iterator will take the values of the elements of the list one by one. The syntax is as follows :

```python
for element in l:
    instruction...
    ..............
    block.........
```

Most of the algorithms using list are based on `for` loops to browse the list. You will have the occasion to discover various applications of this technique in the practice exercises.

In [3]:
l = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
for x in l:
    print(x**2, end=' ')

1 9 25 49 81 121 169 225 289 361

## 5) List comprehension

There is actually another way to define a list than just listing all its elements or appending elements one by one. Instead, we can define a list by describing all of its element using another list that was previously defined : this is called **list comprehension**.<br>
<br>
The syntax to define a list by comprehension is as follows :

```python
new_list = [...... for element in sequence]
```

Eventually, we can add several lists or even conditions as you'll see in the examples below.

### Exercise 8
Try to guess the lists generated by the following list comprehensions.

In [14]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
fruits = ['apple', 'banana', 'coconut', 'durian', 'lemon', 'orange']
['delicious ' + fruit for fruit in fruits]

['delicious apple',
 'delicious banana',
 'delicious coconut',
 'delicious durian',
 'delicious lemon',
 'delicious orange']

In [19]:
[x**2 for x in range(10) if x % 4 == 1]

[1, 25, 81]

In [20]:
a, b = [1,3,5], [2,4,6]
[x*y for x in a for y in b]

[2, 4, 6, 6, 12, 18, 10, 20, 30]

In [22]:
[(x,y,z) for x in range(1,50) for y in range(x,50) for z in range(y,50) if x**2 + y**2 == z**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 16, 20),
 (12, 35, 37),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (18, 24, 30),
 (20, 21, 29),
 (21, 28, 35),
 (24, 32, 40),
 (27, 36, 45)]