# Python Course - Chapter 1 : Introduction to Python

## 1) Types in Python

A fundamental notion in Python is the notion of **types**. All objects manipulated in Python have a type, which indicates what kind of object they are and determines what operations can be done with these objects.<br>
The most common types are the following :<br>
- **int** : This is the type of the integers in Python, `0`, `7`, `64`, `-42` are objects of type int in Python.
- **float** : This is the type of all real numbers, `1.23`, `9.999`, `7/3`, `math.pi` are objetcs of type float in Python.
- **complex** : This is the type of all complex numbers, any number in the form `a + bj` (where `a` and `b` are float objects) are objects of type complex in Python. Notice that the complex unit is written 'j' in Python and not 'i' !
<br> <br>
- **bool** : This is the type of statements. A bool object only has two possible values : True or False. We will see more about these objects later.
<br> <br>
- **string** : This is the type of succession of characters between apostrophes or quotation marks, `'hello'`, `"Happy Chandara School"`, `'^p£0µ7_:)'` are objects of type string in Python.

### Exercise 1
Try to guess the type of each of the following objects.

In [1]:
type(4)

int

In [2]:
type(4.0)

float

In [ ]:
type(4.0 + 0.0j)

In [ ]:
type(2 + 2)

In [ ]:
type(2 + 2.0)

In [ ]:
type('Hello, World!')

In [ ]:
type(' ')

In [ ]:
type('252')

In [ ]:
type(int('252'))

In [ ]:
type(print('Hello, World!'))

## 2) Numbers

As we saw earlier, there are 3 types to represent numbers in Python, **int**, **float** and **complex**.<br>
<br>
However, not every integer can be represented in Python ! This is because there are infinitely many integer while our computer has a finite memory and can only stock finite information.<br>
For the same reason, real number with infinite decimals can only be represented by an approximation, as a float object.<br>
<br>
All the usual mathematical **operations** can be applied to objects of type int, float and complex, here is a non-exhaustive list of these operations :<br>

| Syntax | Result |
| :-:| :- |
| `x + y` | Sum of x and y |
| `x - y` | Difference of x and y |
| `x * y` | Product of x and y |
| `x / y` | Quotient of x by y |
| `x ** y` | x to the power of y |
| `x % y` | Remainder in the euclidian division of x by y |
| `x // y` | Quotient in the euclidian division of x by y |
| `abs(x)` | Absolute value of x |

There are many other operations which can be used by adding the libraries **math** and **numpy**.<br>
In order to import these numpy, we can type the line of code `import numpy`. The function `sqrt` of the library `numpy`, which gives the square root of a number, can then be used by typing `numpy.sqrt`.<br>
To avoid writing numpy everytime before calling a function, we can rename the library when importing it : after the line `import numpy as np`, the same function can be called using `np.sqrt`. Another solution is to import only the functions that are useful to us : in this case, we can simply write `from numpy import sqrt` and the function can be called using `sqrt` without any library name in front of it.<br>
<br>
Other than the operations concerning the euclidian division, all the operations presented in the table can be applied to int, float or complex type objects. We can even add an int object to a float object for instance : what Python does in this case is called an **implicit conversion**. Python automatically converts the objects to the most general type implied in the operation. These conversions can only be done in this order : **int &#8594; float &#8594; complex**.<br>
To convert a float back to an int object, we have to force the conversion using the function `int`. For instance, `int(4.0)` will return 4. This process is called **explicit conversion**.

### Exercise 2
Try to guess the result (value and type) of each of the following operations.

In [ ]:
3 + 5

In [ ]:
1.3 * 5.0

In [ ]:
2 ** 4

In [ ]:
7 % 3

In [ ]:
24 // 6

In [ ]:
24 / 6

In [ ]:
20 / 3

In [ ]:
abs(-6.2)

In [ ]:
2.0 + 4

In [ ]:
int(2.0 + 4)

In [ ]:
1 / 0

In [ ]:
from numpy import int64
int64(2**63)

In [ ]:
int(1.00000000000000042 * 100000000000000000)

### Exercise 3 (Priority order for operations with numbers)
Try to guess the result of each of the following operations involving int objects.

In [ ]:
4 + 4 * 3

In [ ]:
(4 + 4) * 3

In [ ]:
2 ** 3 * 3

In [ ]:
2 ** (3 * 3)

In [ ]:
(2 * 4) * (2 ** 3 + 7)

## 3) Booleans

One of the most used objects in Python is booleans : they are used as conditions to check if a statement is True or False. We will see many applications to these objects later in the course. <br>
<br>
For now, we will introduce some operations that can turn numbers into booleans by comparing them :<br>

| Syntax | Result |
| :-:| :- |
| `x < y` | `True` if x < y, `False` otherwise |
| `x <= y` | `True` if x &#8804; y, `False` otherwise |
| `x > y` | `True` if x > y, `False` otherwise |
| `x >= y` | `True` if x &#8805; y, `False` otherwise |
| `x == y` | `True` if x is equal to y, `False` otherwise |
| `x != y` | `True` if x is different from y, `False` otherwise |

Moreover, we can apply operations to several booleans using logical operators :<br>

| Syntax | Result |
| :-:| :- |
| `not a` | `True` if a is false, `False` if a is true |
| `a and b` | `True` if the booleans a and b are both true, `False` if any of them is false |
| `a or b` | `True` if any of the two booleans a and b is true, `False` if both of them are false |

### Exercise 4
Try to guess the result of each of these operations involving comparison of numbers.

In [ ]:
3 < 7

In [ ]:
4.1 >= 4.2

In [ ]:
4.1 != 4.2

In [ ]:
3 == 3.0

In [ ]:
3 == 3.0 + 0.0j

In [ ]:
import math
math.pi == 3.141592653589793

In [ ]:
3 = 2

In [ ]:
0.1 + 0.2 == 0.3

### Exercise 5 (Priority order for operations with booleans)
Try to guess the result of each of these operations involving boolean operations.

In [ ]:
(2 < 3) and (6 > 7)

In [ ]:
(1 == 0) or (8 != 7)

In [ ]:
not (5 != 6)

In [ ]:
True and False

In [ ]:
True or True and False

In [ ]:
(True or True) and False

In [ ]:
not True and False

In [ ]:
not (True and False)

In [ ]:
not 5 < 3 and 4 != 3 or not (1 != 1 or 3 == 3)

### Exercise 6 (Bonus)
Try to guess the result of these two operations.

In [ ]:
(1 == 1) or (1 / 0 <= 7)

In [2]:
'Happy Chandara School' > 'Everything'

True

## 4) print Function

The print function is used to **display objects** in the shell (or somewhere else). It does **NOT** give the result of an operation, it simply prints its argument in the shell. <br>
Unlike the previous operations we presented, the `print` function can be typed in the text editor and display its argument in the shell. Keep in mind that even if `print(3)` displays `3` in the shell, the object `print(3)` in itself isn't equal to the int object `3` : it is an object of type None which is a type used when we don't want to show a function to return any result.<br>
<br>
From now on, we will stop systematically typing in the shell and rather use the text editor above.<br>
<br>
If needed, it is possible to print several objects at the same time by separating them with commas : the command `print('Hello', 2025, ':D')` will display "Hello 2025 :D", separating each object printed with a space.

### Exercise 7
Try to predict what will be displayed in the shell after executing each of the following programs.

In [ ]:
print(23)

In [ ]:
23
print(23)

In [ ]:
print('Hello, World!')

In [ ]:
print('I am', 18, 'years old')

In [ ]:
print(1 + 1)

In [ ]:
print(1) + 1

In [ ]:
print(1) + print(2)

In [ ]:
print(type(print(23)))

## 5) Variables

Until now, we could only do operations in a single line and were unable to store the results of the different operations (except by printing it...) : in order to solve this problem, we need the help of **variables**.<br>
The variables are the basis of any code : we will use them in every single program we write after this chapter !<br>
<br>
A **variable** is a way of stocking information to later use in code. It has a **name**, a **type** and a **value** :<br>
- **Name :** The name of the variable is given by the user when declaring the variable : it usually contains **letters** (a-z, A-Z), **numbers** (0-9) and eventually some symbols *(you can use the underscore _ if needed)*. Try to avoid using any other character.
- **Type :** The type of the variable is automatically defined when declaring the variable : it corresponds to the  type of its value.
- **Value :** The value of the variable is defined by the user when declaring the variable : it is the information stocked in the variable and can be used to do other operations later in the code.

To declare a variable, we proceed as follows : `variable_name = value`.<br>
For instance, if we type `toto = 5`, we create a variable named bob, of type int, associated to the integer value 5. Variables' names are **case sensitive** which means the variables `toto`, `Toto`, `TOTO` and `tOTo` are **NOT** the same variable !<br>
Keep in mind that variable names have to start with letters and should not be named after an existing function. You can not use any symbol that is used for operations when naming a variable (+, -, \*, /, ...) and you can not use spaces neither.<br>
<br>
After creating a variable, we can reassign a different value to it. We can even use the previous value of the variable or the values of other variables to define the new one.

### Exercise 8
Try to guess what will be printed in the shell after executing each of the following programs.

In [ ]:
toto = 5
print(toto)

In [ ]:
toto = 4
Toto = 6
print(toto)

In [ ]:
toto = 4
toto = 6
print(toto)

In [ ]:
toto = 4
toto = 6
print(tOto)

In [ ]:
this_is_a_variable_with_an_extremely_long_name_that_may_generate_errors_when_typing_it_again = 0
print(this_is_a_variable_with_an_extremely_long_name_that_may_generate_erorrs_when_typing_it_again)

In [ ]:
n = 4
n = n + 1
print(n)

In [ ]:
n = 4
n += 1
print(n)

In [ ]:
a = 4
a = a * 3
print(a)

In [ ]:
a = 4
a *= 3
print(a)

### Exercise 9 (Several variables)
Try to guess what will be printed in the shell after executing each of the following programs.

In [ ]:
toto = 2
tata = 5
print(toto * tata)

In [ ]:
toto = 10
tata = 4
toto = tata
print(toto)

In [ ]:
a = 1
b = 2
c = a + b
print(a)

In [ ]:
x = 4
y = 5
z = 2 * x + 2 * (y + 1)
print(z // 2)

In [ ]:
boolean1 = True
boolean2 = False
print(not boolean1 or not boolean2)

As we can see, it can be a bit fastidious to write a new line every time we need to define a new variable.<br>
To simplify the process of defining new variables, we can declare several variables in the same line by separating each variable with commas. This is called **parallel assignment**.<br>
<br>
For instance, by typing `toto, tata = 1, 2`, we define two variables : `toto` containing the value `1` and `tata` containing the value `2`.

### Exercise 10 (Parallel assignment)
Try to guess what will be printed in the shell after executing each of the following programs.

In [ ]:
a, b, c = 1, 2, 3
c = c + (a - b)
print(b == c)

In [ ]:
x, y, z, t = 5, 10, 50, 400
a = (z // y) * x
print(t // a)

In [ ]:
n, p = 0, 1
print(n, p)
n, p = p, n
print(n, p)